
    <h1>Mensajes</h1>
    {{#if mensajes}}
    <ul class="midlaner">
        {{#each mensajes}}
        <li>
            <span class="nombre">
                {{author.id}}
            </span>
            <span class="hora">
                [{{hora}}]:

            </span>
            <span class="mensaje">
                {{comments}}
            </span>
        </li>
        {{/each}}
    </ul>
    {{/if}}

